<template>
  <div class="container">
    <MainNavbar />
    <div class="my-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <router-link
            class="btn btn-sm btn-primary rounded shadow mb-3"
            :to="{ name: 'waste.index' }"
            >Back</router-link
          >

          <div class="card rounded shadow">
            <div class="card-header">Update Waste</div>
            <div class="card-body">
              <form method="POST" @submit.prevent="updateWaste()">
                <div class="mb-3">
                  <label class="form-label">Category</label>
                  <select class="form-control" v-model="waste.category_id">
                    <option
                      v-for="(category, index) in categories"
                      :key="index"
                      :value="category.category_id"
                    >
                      {{ category.category_name }}
                    </option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="waste.waste_name"
                  />
                </div>
                <button class="btn btn-sm btn-outline-success">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainNavbar from "@/components/MainNavbar.vue";
import axios from "axios";

export default {
  name: "WasteView",
  components: {
    MainNavbar,
  },
  data() {
    return {
      categories: {},
      waste: {
        category_id: "",
        waste_name: "",
      },
    };
  },
  methods: {
    getCategory(data) {
      this.categories = data;
    },
    getWaste(data) {
      this.waste.category_id = data.category_id;
      this.waste.waste_name = data.waste_name;
    },
    updateWaste() {
      axios
        .put(
          "http://127.0.0.1:8000/api/waste/" + this.$route.params.id,
          this.waste
        )
        .then(() => this.$router.push({ name: "waste.index" }))
        .catch((error) => console.log(error));
    },
  },
  mounted() {
    axios
      .get("https://tuhfatussalisah.000webhostapp.com/api/category")
      .then((response) => this.getCategory(response.data.original.data))
      .catch((error) => console.log("failed", error));
    axios
      .get("https://tuhfatussalisah.000webhostapp.com/api/waste/" + this.$route.params.id)
      .then((response) => this.getWaste(response.data.original.data))
      .catch((error) => console.log("failed", error));
  },
};
</script>

<style>
</style>