<template>
  <div class="container">
    <MainNavbar />
    <div class="my-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <router-link
            class="btn btn-sm btn-primary rounded shadow mb-3"
            :to="{ name: 'category.index' }"
            >Back</router-link
          >

          <div class="card rounded shadow">
            <div class="card-header">Create Category</div>
            <div class="card-body">
              <form method="POST" @submit.prevent="createCategory()">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="category.category_name"
                  />
                </div>
                <button class="btn btn-sm btn-outline-success">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainNavbar from "@/components/MainNavbar.vue";
import axios from "axios";

export default {
  name: "CategoryView",
  components: {
    MainNavbar,
  },
  data() {
    return {
      category: {},
    };
  },
  methods: {
    createCategory() {
      axios
        .post("https://tuhfatussalisah.000webhostapp.com/api/category", this.category)
        .then(() => this.$router.push({ name: "category.index" }))
        .catch((error) => console.log(error));
    },
  },
};
</script>

<style>
</style>