<template>
  <div class="container">
    <MainNavbar />
    <div class="my-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <router-link
            class="btn btn-sm btn-primary rounded shadow mb-3"
            :to="{ name: 'category.create' }"
            >Create</router-link
          >

          <div class="card rounded shadow">
            <div class="card-header">Category List</div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(category, index) in categories" :key="index">
                    <td>{{ index + 1 }}.</td>
                    <td>{{ category.category_name }}</td>
                    <td>
                      <div class="btn-group">
                        <router-link
                          class="
                            btn btn-sm btn-outline-warning
                            rounded
                            shadow
                            mx-2
                          "
                          :to="{
                            name: 'category.update',
                            params: { id: category.category_id },
                          }"
                          >Update</router-link
                        >
                        <button
                          class="btn btn-sm btn-outline-danger rounded shadow"
                          @click.prevent="
                            deleteCategory(category.category_id, index)
                          "
                        >
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainNavbar from "@/components/MainNavbar.vue";
import axios from "axios";

export default {
  name: "CategoryView",
  components: {
    MainNavbar,
  },
  data() {
    return {
      categories: {},
    };
  },
  methods: {
    getCategory(data) {
      console.log(data);
      this.categories = data;
    },
    deleteCategory(id, index) {
      axios
        .delete("https://tuhfatussalisah.000webhostapp.com/api/category/" + id)
        .then(() => this.categories.splice(index, 1))
        .catch((error) => console.log(error));
    },
  },
  mounted() {
    axios
      .get("https://tuhfatussalisah.000webhostapp.com/api/category")
      .then((response) => this.getCategory(response.data.original.data))
      .catch((error) => console.log("failed", error));
  },
};
</script>

<style>
</style>