<template>
  <div class="container">
    <MainNavbar />
    <div class="my-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <router-link
            class="btn btn-sm btn-primary rounded shadow mb-3"
            :to="{ name: 'category.index' }"
            >Back</router-link
          >

          <div class="card rounded shadow">
            <div class="card-header">Update Category</div>
            <div class="card-body">
              <form method="POST" @submit.prevent="updateCategory()">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="category.category_name"
                  />
                </div>
                <button class="btn btn-sm btn-outline-success">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainNavbar from "@/components/MainNavbar.vue";
import axios from "axios";

export default {
  name: "CategoryView",
  components: {
    MainNavbar,
  },
  data() {
    return {
      category: {
        category_name: "",
      },
    };
  },
  methods: {
    getCategory(data) {
      console.log(data);
      this.category.category_name = data.category_name;
    },
    updateCategory() {
      axios
        .put(
          "https://tuhfatussalisah.000webhostapp.com/api/category/" + this.$route.params.id,
          this.category
        )
        .then(() => this.$router.push({ name: "category.index" }))
        .catch((error) => console.log(error));
    },
  },
  mounted() {
    axios
      .get("https://tuhfatussalisah.000webhostapp.com/api/category/" + this.$route.params.id)
      .then((response) => this.getCategory(response.data.original.data))
      .catch((error) => console.log("failed", error));
  },
};
</script>

<style>
</style>