<template>
  <div class="home">
    <div class="container">
      <MainNavbar />
      <h1>Home</h1>

      <p v-for="waste in wastes" :key="waste.waste_id">
        {{ waste.waste_name }} <br>
      </p>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import MainNavbar from "@/components/MainNavbar.vue";

import axios from "axios";

export default {
  name: "HomeView",
  components: {
    MainNavbar,
  },
  data() {
    return {
      wastes: [],
    };
  },
  methods: {
    setWaste(data) {
      this.wastes = data;
    },
  },
  mounted() {
    // Make a request for a user with a given ID
    axios
      .get("https://tuhfatussalisah.000webhostapp.com/api/waste")
      .then((response) => this.setWaste(response.data))
      .catch((error) => console.log("failed", error))
  },
};
</script>
